<%-include('header') %>
<%-include('navbar') %>
<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">Ultimate Team van Kaptan</h1>

  <!-- Zoekveld -->
  <input type="text" id="searchInput" placeholder="Zoek op naam..." class="w-full py-2 px-4 mb-4 rounded border border-gray-300">

  <!-- Tabel met voetballers -->
  <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
              <th onclick="sortTable(0)">Name <span class="sort-icon"></span></th>
              <th onclick="sortTable(1)">Description <span class="sort-icon"></span></th>
              <th onclick="sortTable(2)">Age <span class="sort-icon"></span></th>
              <th onclick="sortTable(3)">Active <span class="sort-icon"></span></th>
              <th onclick="sortTable(4)">Date of Birth <span class="sort-icon"></span></th>
              <th onclick="sortTable(5)">Profile Picture <span class="sort-icon"></span></th>
              <th onclick="sortTable(6)">Position <span class="sort-icon"></span></th> 
              <th onclick="sortTable(7)">Hobbies <span class="sort-icon"></span></th>
              <th onclick="sortTable(8)">Club Details <span class="sort-icon"></span></th>
          </tr>
      </thead>
      <tbody id="tableBody">
          <% footballers.forEach(footballer => { %>
              <tr>
                  <td><%= footballer.name %></td>
                  <td><%= footballer.description %></td>
                  <td><%= footballer.age %></td>
                  <td><%= footballer.active ? 'Yes' : 'No' %></td>
                  <td><%= footballer.dateOfBirth %></td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="img-container">
                      <img src="<%= footballer.profilePicture %>" alt="Profielfoto" class="w-24 h-24 object-cover img-small">
                    </div>
                  </td>
                  <td><%= footballer.position %></td> <!-- Gewijzigd van Status naar Position -->
                  <td><%= footballer.hobbies.join(', ') %></td>
                  <td>
                      <img src="<%= footballer.clubDetails.logo %>" alt="Club Logo" width="50">
                      <%= footballer.clubDetails.clubName %>
                  </td>
                  <td class="px-8 py-4 whitespace-nowrap">
                   <button class="footballer-details"><a href="/detail/<%= footballer.id %>" >Details</a></button> 
                </td>
              </tr>
          <% }); %>
      </tbody>
      </table>
  </div>
</div>

<%-include('footer') %>
